# Test stocks.config
# Symbol, Name, Industry

AAPL,Apple Inc.,Consumer Electronics
BA,Boeing Inc.,Aerospace
T,AT&T Inc.,Communication Services

# Should also be able to parse out only symbol
VGT
TEST

# Or symbol and name only
MMM,The 3M Company

# should work with spaces also
STOCK,   Name ,Manufacturing
