{
	"min-cash":75.0,
	"stocks-to-own":5,
	"sell-when":{
		"num-tests-met":1,
		"profit-margin-over":0.1,
		"RSI-over":70,
		"loss-more-than":0.1
	},
	"buy-when":{
		"num-tests-met":3,
		"RSI-below":37,
		"min-market-cap-billions":10,
		"PE-greater-than":10,
		"PE-less-than":20,
		"min-dividend-yield":0.5,
		"min-ytd-change":1
	}
}