{
	"min-cash":75.0,
	"stocks-to-own":3,
	"sell-when":{
		"num-tests-met":1,
		"profit-margin-over":0.1,
		"RSI-over":70,
		"loss-more-than":0.2
	},
	"buy-when":{
		"num-tests-met":5,
		"RSI-below":40,
		"min-market-cap-billions":5,
		"PE-greater-than":15,
		"PE-less-than":10,
		"min-dividend":0.1,
		"min-ytd-change":0.05
	}
}