# Output configurations
# Mode can be either "debug", "verbose", or "production"
# Verbose will force API JSON responses to also be outputted
# Debug will include calculations of RSI, sentiment values, etc.
# Production will only output orders being placed and error messages.
{
	"mode":"production"
}