# sell-when
#	num-tests-met: number of below conditions to sell
#	profit-margin-over: decimal percentage of profit earned before selling
#	RSI-over: minimum RSI value to sell
#
# buy-when
#	num-tests-met: number of below conditions met to buy
#	RSI-below: maximum RSI allowed to buy
#	min-market-cap-billions: minimum market cap in billions
#	PE-greater-than: minimum P/E ratio
#	PE-less-than: max P/E ratio
#	min-dividend-yield: minimum dividend yield as a percentage (0.5 = 0.5% not 50%)
#	min-ytd-change: minimum year to date growth as percentage (1 = 1%)

{
	"sell-when":{
		"num-tests-met":1,
		"profit-margin-over":0.1,
		"RSI-over":70
	},
	"buy-when":{
		"num-tests-met":3,
		"RSI-below":40,
		"min-market-cap-billions":10,
		"PE-greater-than":10,
		"PE-less-than":20,
		"min-dividend-yield":0.5,
		"min-ytd-change":1
	}
}